/.idea
/node_modules
#/public/css
/public/hot
#/public/js
#/public/*.js
/public/storage
/storage/*.key
/packages
/vendor
.env
.env.backup
.phpunit.result.cache
/config/credit.php
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
node_modules.zip
