
$primary: #2C7BE5;

// v select

$vs-state-active-bg: $gray-100;
$vs-state-active-color: $dark;

$vs-component-line-height: $input-line-height;

$vs-border-width: $input-border-width;
$vs-border-radius: $input-border-radius;
$vs-border-color: $input-border-color;

$vs-selected-bg: $gray-200 !default;
$vs-selected-border-color: $gray-100 !default;
